.text-area{
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}
.text-area .content {
    -fx-background-color: #13af30;
}

.list-view .list-cell {
    -fx-background-color: #13af30;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}
.list-view .list-cell:selected {
    -fx-background-color: #0e8725;
}